In [42]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"

In [43]:
df=pd.read_csv(link)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [45]:
df.columns=['Postcode','Latitude','Longitude']
cols=df.columns.tolist()
cols
link2="https://raw.githubusercontent.com/Shekhar-rv/Coursera_Capstone/master/df_can.csv"
df1=pd.read_csv(link2)

In [48]:
df_final=pd.merge(df1,df, on='Postcode')
df_final.head(10)

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,6,M1K,Scarborough,"East Birchmount Park ,Ionview ,Kennedy Park",43.727929,-79.262029
7,7,M1L,Scarborough,"Clairlea ,Golden Mile ,Oakridge",43.711112,-79.284577
8,8,M1M,Scarborough,"Cliffcrest ,Cliffside ,Scarborough Village West",43.716316,-79.239476
9,9,M1N,Scarborough,"Birch Cliff ,Cliffside West",43.692657,-79.264848

In [49]:
df_final.to_csv(r'df_final.csv')